html {
  height: 100%;
  width: 100%;
}
#time{
  width: 80px;
}
#todothings{
  width:120px;
}

td{
 padding: 0;
}

.timeSelect{
  width: 80px;
  height: 25px;
  border:none; 
}

.toDoList{
  margin: 0;
  width:  120px;
  height: 27px;
  border: none; 
  background-color: transparent;
}

#addInput{
  margin-left: 50px;
}

#tbl{
  width: 210px;
}

#newOpt{
  width: 100%;
  height: 30px;
  margin: 0;
  padding-left:130px;
}
th{
 background-color:#CCFFCC	;
}
#addButton{
  background-color:#CCFFFF	;
}
#deleteButton{
  background-color:#FFCCCC		;
}
#addWordButton{
  background-color:#FFFFEE;
}
